#contenu{
    width: 800px;
    margin: auto;
    height: 530px;
    
    /*Ce paramètre peut être modifié
    mais l'adaptation se fera tout de même*/
    margin-top: 150px;
    margin-bottom: 150px;
}

#contenu div{
    float: left;
}

#titreManufacture{
	height: 40px;
	width: 800px;
}

#titreManufacture p{
	font-size: 30px;
}

#boutonRetour{
	height: 40px;
	width: 400px;
}

#bouton{
	font-family: Arial,sans-serif;
    font-size: 1.3em;
    width: 200px;
    height: 32px;
    padding-top: 7px; /*permet le centrage vertical*/
    text-align: center;
    color: #000;
    background: #444;
    background: #444;
    background: linear-gradient( #555, #2C2C2C);
    border-radius: 8px;
    text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
    margin-left: 80px;
}

#sousTitreTexte{
	height: 360px;
	width: 400px;
}

#sousTitreManu{
	height: 30px;
	width: 400px;
}

#sousTitreManu p{
	font-size: 20px;
}

#texte{
	text-align: justify;
	width: 360px;
	height: 380px;
}

#conteneurImages{
	height: 360px;
	width: 400px;
}

#image1, #image2{
	height: 245px;
	width: 400px;
}

#dimIm1{
	height: 180px;
	width: 300px;
	margin: 10px;
	margin-left: 50px;
}

#dimIm2{
	height: 160px;
	width: 380px;
	margin: 10px;
}

a{
	text-decoration: none;
}